@media screen and (min-width:1024px) {
    .navbar {
        position:relative;
        width:100%;
        height:15vh;
       box-shadow: 2px 2px 20px rgb(124, 123, 123);
       .navbar-brand
       {
        position:relative;
        left:50px;
        width:5%;
        top:-10px;
        height:10vh;
        img{
            position:relative;
            width:100%;
            border-radius: 3px;
            height:100%;
        }
        p{
            position:relative;
            left:-18px;
            top:5px;
            font-size: 15px;
            font-family:fantasy;
        }
       }
       .collapse
       {
        position:relative;
        width:100%;
        margin-left:30%;
       
        li{
            position:relative;
            width:100%;
            margin-left:25%;
            font-size: 25px;
            font-family: 'Courier New', Courier, monospace;
            
           
        }
       }
    }
    .footer
    {
        position:relative;
        bottom: 0;
        width: 100%;
        height: 20vh;
        background:rgb(4, 1, 12);
        box-shadow: 2px 2px 20px rgb(55, 55, 55);
        display:flex;
        justify-content: space-between;
        color:white;
        font-family: 'Courier New', Courier, monospace;
        .footercontaint1
        {
            position:relative;
            width:33.33%;
            text-align: center;
            h1{
                position:relative;
                top:10px;
                font-size: 34px;
                
            }
            p{
                position:relative;
               top:10px;
               
            }
        }
        .footercontaint2
        {
            position:relative;
            width:33.33%;
            text-align: center;
            h1{
                position:relative;
                top:10px;
                font-size: 34px;
                font-family: 'Courier New', Courier, monospace;
            }
        }
        .footercontaint3
        {
            position:relative;
            width:33.33%;
            text-align: center;
            h1{
                position:relative;
                top:10px;
                font-size: 34px;
                font-family: 'Courier New', Courier, monospace;
            }
            a{
                position:relative;
                color:white;
             
               
            }
        }
    }
}
@media screen and (max-width:767px) {
    .navbar {
        position:relative;
        width:100%;
        height:15vh;
       box-shadow: 2px 2px 20px rgb(124, 123, 123);
       .navbar-brand
       {
        position:relative;
        left:50px;
        width:15%;
        top:-10px;
        height:10vh;
        img{
            position:relative;
            width:100%;
            border-radius: 3px;
            height:100%;
        }
        p{
            position:relative;
            left:-18px;
            top:5px;
            font-size: 15px;
            font-family:fantasy;
        }
       }
       .navbar-collapse
       {
        position:relative;
        width:0%;
        margin-left:-10%;
        top:27px;
        z-index:1;
        ul{
            position:relative;
            width:40%;
            background:white;
            box-shadow: 5px 5px 20px rgb(126, 126, 126);
        }        li{
            position:relative;
            z-index:1;
            margin-left:35%;
            font-size: 25px;
            font-family: 'Courier New', Courier, monospace;
            
           
        }
       }
    }
    .footer
    {
        position: relative;
        bottom: 0;
        width: 100%;
        height: auto;
        background: rgb(5, 2, 13);
      color:white;
        box-shadow: 2px 2px 20px rgb(55, 55, 55);
        display:flex;
        flex-wrap: wrap;
        .footercontaint1
        {
            position:relative;
            width:30.33%;
            margin-left:0px;
            text-align: center;
            
            h1{
                position:relative;
                top:10px;
                font-size: 20px;

                
            }
            p{
                position:relative;
                top:10px;
               
            }
        }
        .footercontaint2
        {
            position:relative;
            left:10%;
            text-align: center;
            h1{
                position:relative;
                top:10px;
                font-size: 20px;
                
            }
            p{
                position:relative;
                width:100% ;
                height:40%;
               
                
            }
        }
        .footercontaint3
        {
            position:relative;
            width:33.33%;
            left:32%;
            text-align: center;
            bottom: 10px;
            
         
            h1{
                position:relative;
                top:10px;
                font-size: 20px;
               
            }
            a{
                position:relative;
               color:white
             
               
            }
        }
    }
    
}